body {
  font-family: 'Roboto', sans-serif;
  background-color: teal;
  margin: 0;
}
nav {
  background-color: teal;
  padding-bottom: 6vh;
}

.top-left{
  float: left;
  padding-left: 2%;
}

.top-title {
  font-size: 3vh;
  font-weight: bold;
  padding-right: 0%;
  padding-top: 4%;
}

.top-right{
  float: right;
  padding-right: 0%;
}


/* Buttons */
.add-recipe {
    background: rgba(225, 225, 225, .9);
    border-color: #846a29;
    border-radius: 5px;
    height: 5vh;
}

.lets-cook {
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
    background: teal;
    border-color: #afafaf;
    border-radius: 5px;
    height: 8vh;
    width: 26vh;
    position: relative;
    top: 12%;
    left: 28%;
}

/* Main panel boxes */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0%;
}

.form-box {
  vertical-align:middle;
  width: 40%;
  height: 50%;
  position: relative;
  top: 12%;
  left: -5%;
  opacity: 0.85;
  background: #ffffff;
  font-size: 3vh;
}

form {
  position: relative;
  top: 7%;
  left: 10%;
}

.main-prompt {
  font-size: 4vh;
  padding-left: 10%;
  padding-top: 3%;
  overflow-wrap: break-word;
}
.star {
  color: red;
}
.radio{
  size: 3vh

}

.overlay {
  z-index: 9;
  margin: 0px;
  background: #ffffff;
}

.cook {
  display:inline-block;
  vertical-align:middle;
  width: 40%;
  height: 50%;
  position: relative;
  top: 12%;
  left: 3%;
  opacity: 0.85;
  background: #ffffff;
}

.overlay2 {
  z-index: 9;
  margin: 0px;
  background: #ffffff;
}

.cookpot-graphic {
  display:inline-block;
  vertical-align:middle;
  width: 55%;
  height: 55%;
  position: relative;
  top: 23%;
  left: 21%;
}


.hidden {
  display: none;
}
